SQLSERVER_SA_PASSWORD=dcd3262S45!
Encryption__FieldKey=1IZNxLXtaX7LsmAj+eI7VKFcFbDQL9OuDLbvWcwmco8=
# FIELD_ENCRYPTION_KEY=1IZNxLXtaX7LsmAj+eI7VKFcFbDQL9OuDLbvWcwmco8=
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=VanillaApp;User Id=sa;Password=dcd3262S45!;Encrypt=True;TrustServerCertificate=True
